<div class="row m-b-20">
  <div class="col-lg-12 ">
    <div class="welcome-bg rounded p-30 bg-dark">
      <h3 class="text-white f-s-20">Welcome Rania Al-Jasser</h3>
      <p class="text-white ps-3 mb-0">DG Manager / DG Analyst</p>
    </div>
  </div>
</div>

<div class="row">
  @for (item of cardsData; track item.id) {
    <div class="col-lg-3">
      <app-feature [data]="item"></app-feature>
    </div>
  }
</div>

<!-- <div class="row">
  <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4">
    <app-yearly-breakup></app-yearly-breakup>
    <app-monthly-earnings></app-monthly-earnings>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-lg-8">
    <app-product-performance></app-product-performance>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
</div> -->