<mat-card class="cardWithShadow card-scroll">
    <mat-card-content>
        <mat-card-title>Platform Overview</mat-card-title>

        @for (item of cardsData; track $index) {
        <mat-card class="cardWithShadow overflow-hidden m-t-20">
            <!-- <mat-card-content class="p-b-0"> -->
            <div class="p-20">
                <div class="d-flex">
                    <div class="m-r-15 d-flex align-items-center">
                        <button mat-fab class="icon-48 bg-secondary ">
                            <i-tabler [name]="item.icon" class="text-white d-flex"></i-tabler>
                        </button>
                    </div>
                    <div class="">
                        <mat-card-title>{{item.title}}</mat-card-title>
                        <div class="f-s-14 p-t-5 custom-text-truncate">{{item.description}}</div>
                    </div>
                </div>
            </div>
            <!-- </mat-card-content> -->
        </mat-card>
        }
    </mat-card-content>
</mat-card>